@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Special+Gothic+Expanded+One&display=swap');


.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 350vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center
}


.home{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.home h1 {
    font-size: 500%;
    font-family: 'BBH Bartle', sans-serif;
    position: absolute;
    color: rgb(255, 255, 255);
}

.produtos {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
}

.produtos h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.card {
	width: 18rem;
	height: 25rem;
	position: relative;
    padding-left: 10px;
}
.card-info {
	position: absolute;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	padding: 1rem;
	text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
	transition: all .3s;
}

.card-info a{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	color: #eeeeee;
    text-decoration: none;
}

.card-img-wrapper {
	width: 100%;
	height: 100%;
	background-color: #262626;
}

.card-img-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	opacity: .8;
	transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
	opacity: .5;

}

.card:hover .card-info {
	bottom: 2rem;
	opacity: 1;
	visibility: visible;
}

.card-img-wrapper {
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 15%);
}

.voltar{
    margin: 20px;
    padding-left: 10px;
}

.btn_voltar {
    font-family: 'Bebas Neue', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0f0f0f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn_voltar:hover{
    background-color: #333;
}

.btn_buy {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn_buy:hover{
    background-color: #333;
}